.puzzles-widget {
  /*overflow: hidden;*/
  width: 100%;
}

.grid-column,
.puzzles-area-column {
  float: left;
  box-sizing: border-box;
}

.grid-column {
  width: 70%;
}

.puzzles-area-column {
  width: 30%;
}

.puzzles-area-column a:hover {
  cursor: pointer;
}

.grid-size-input {
  text-align: center;
  font-weight: bold;
}

.grid-size-input input {
  width: 30px;
  border: 1px solid black;
}

.grid-size-input .apply-grid:hover {
  cursor: pointer;
}

.grid-wrapper .grid {
  margin: 0 auto;
  border: 1px solid black;
}

.grid-wrapper .grid .puzzle {
  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid black;
  background-color: #efefef;
}

.grid-wrapper .grid .puzzle .number,
.grid-wrapper .grid .puzzle .remove {
  width: 20px;
  position: absolute;
  height: 20px;
  text-align: center;
  top: 5px;
  font-size: 14px;
  font-weight: bold;
  box-sizing: border-box;
  background-color: grey;
  color: #fff;
  border-radius: 10px;
}

.grid-wrapper .grid .puzzle .number {
  background-color: red;
  left: 5px;
  border-radius: 0px;
  width: 30px;
}
.grid-wrapper .grid .puzzle .number:before {
  content: "#";
}

.grid-wrapper .grid .puzzle .remove {
  right: 5px;
}

.grid-wrapper .grid .puzzle .title {
  text-align: center;
  margin: 30px 10px;
  background-color: white;
}

.grid-wrapper .grid .puzzle .buttons {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.grid-wrapper .grid .puzzle .buttons a {
  width: 20px;
  height: 20px;
  background-color: grey;
  display: block;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.grid-wrapper .grid .puzzle .remove:hover,
.grid-wrapper .grid .puzzle .buttons a:hover {
  text-decoration: none;
  background-color: #444;
  cursor: pointer;
}

.grid-wrapper .grid .puzzle .buttons a.move-left {
  float: left;
}

.grid-wrapper .grid .puzzle .buttons a.move-right {
  float: right;
}