.node-isotope-slider-slide > h2 {
  display: none;
}
.node-isotope-slider-puzzle {
  border: none;
  padding: 5px;
  box-sizing: border-box;
}
.node-isotope-slider-puzzle > h2 {
  display: none;
}
.node-isotope-slider-puzzle > .content,
.node-isotope-slider-puzzle > .content > .field,
.node-isotope-slider-puzzle > .content > .field > .field-items,
.node-isotope-slider-puzzle > .content > .field > .field-items > .field-item {
  margin: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.views-slideshow-controls-text {
  border-radius: 25px;
  border: 1px solid CornflowerBlue;
  padding: 15px;
  float: left;
  width: 100%;
  box-sizing: border-box;
}

.views-slideshow-controls-text-previous,
.views-slideshow-controls-text-next {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: CornflowerBlue;
  float: left;
  display: block;
  font-size: 0;
  position: relative;
}

.views-slideshow-controls-text-next:after,
.views-slideshow-controls-text-previous:after {
  color: white;
  content: "<";
  font-size: 20px;
  left: 20px;
  top: 10px;
  position: absolute;
}

.views-slideshow-controls-text-next:after {
  content: ">";
}

.views-slideshow-controls-text-next {
  float: right;
}

.views-slideshow-controls-text-pause {
  display: none;
}